google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Pillow
tqdm
fastapi
uvicorn[standard]
python-multipart
pillow-heif
pyjwt[crypto]
cryptography
passlib[bcrypt]
httpx
pydantic-settings
pytest 
youtube-transcript-api
yt-dlp