{% macro dropdown(trigger_html, align='right', width='md', panel_class='') %}
{#
  Usage:
  {% from 'components/elements/dropdown.html' import dropdown %}
  {% call dropdown('<button>Trigger</button>', align='right', width='lg') %}
    ... panel content here ...
  {% endcall %}
#}
{% set width_class = {'sm':'w-44','md':'w-72','lg':'w-80'}.get(width, 'w-72') %}
{% set align_class = 'right-0' if align == 'right' else 'left-0' %}
<div x-data="{ open:false, toggle(){ this.open=!this.open }, close(){ this.open=false } }" class="relative">
  <div>{{ trigger_html | safe }}</div>
  <div x-cloak x-show="open" @click.away="close()" x-transition.origin.top.{{ 'right' if align=='right' else 'left' }}
       class="absolute {{ align_class }} mt-2 {{ width_class }} surface rounded-lg shadow-lg backdrop-blur {{ panel_class }}">
    <div x-ref="panel">
      {{ caller() }}
    </div>
  </div>
  
</div>
{% endmacro %}
