{% from 'components/elements/icon.html' import icon %}
{% macro modal(id, title="Confirm", confirm_text="Confirm", cancel_text="Cancel") %}
<div
  x-data="modalState('{{ id }}')"
  @open-{{ id }}.window="open=true; openModal()"
  @keydown.escape.window="closeModal()"
  @keydown.window="trap($event)"
>
  <div x-show="open" x-transition.opacity class="fixed inset-0 z-40 bg-black/60" x-cloak @click="closeModal()"></div>
  <div x-show="open" x-transition class="fixed inset-0 z-50 flex items-center justify-center p-4" x-cloak>
    <div 
      class="w-full max-w-md rounded-xl bg-bg border border-border shadow-xl outline-none"
      role="dialog" aria-modal="true"
      :aria-labelledby="titleId"
      tabindex="-1"
    >
      <div class="px-4 py-3 border-b border-border flex items-center justify-between">
        <h3 :id="titleId" class="text-content font-semibold">{{ title }}</h3>
        <button aria-label="Close modal" @click="closeModal()" class="text-contentMuted hover:text-content">
          {{ icon('close', size='h-5 w-5') }}
        </button>
      </div>
      <div class="p-4 text-content">
        {{ caller() }}
      </div>
      <div class="px-4 py-3 border-t border-border flex items-center justify-end gap-2">
        {% from 'components/elements/button.html' import button %}
        {{ button(cancel_text, variant='secondary', attrs='@click="closeModal()"') }}
        {{ button(confirm_text, variant='primary', attrs='data-autofocus @click="$dispatch(''confirm-' ~ id ~ '')"') }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
