{% macro brand_icon(key) %}
  {% set icon_map = {
    'drive': 'drive',
    'google-drive': 'drive',
    'gmail': 'gmail',
    'youtube': 'youtube',
    'github': 'github',
    'google': 'google'
  } %}
  {% set icon_name = icon_map.get(key, 'default') %}
  {% if icon_name == 'default' %}
    <svg viewBox="0 0 24 24" class="h-full w-full text-contentMuted" fill="currentColor" aria-hidden="true">
      <circle cx="12" cy="12" r="10"/>
    </svg>
  {% elif icon_name == 'drive' %}
    {% include 'components/icons/providers/drive.svg' %}
  {% elif icon_name == 'gmail' %}
    {% include 'components/icons/providers/gmail.svg' %}
  {% elif icon_name == 'youtube' %}
    {% include 'components/icons/providers/youtube.svg' %}
  {% elif icon_name == 'github' %}
    {% include 'components/icons/providers/github.svg' %}
  {% elif icon_name == 'google' %}
    {% include 'components/icons/providers/google.svg' %}
  {% endif %}
{% endmacro %}
